body {
  padding: 50px;
}

header {
  display: flex;
  font-weight: bold;
  gap: 20px;
  align-items: center;
  border-bottom: 1px solid #000;
}

.liMenu {
  text-decoration: none;
  color: #000;
}

main {
  margin-top: 10px;
  height: 300px;
}

footer {
  background: #efefef;
  padding: 10px;
}
